.eg_container{
    background-image: url("https://static.bbus-static.com/shain/v1/dataservice/ResizeImage/$value?Format=jpg&Quality=85&Width=1920&Height=640&ImageUrl=312177.png");
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px !important;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family: museo-sans-1,museo-sans-2,sans-serif !important;
}
.eg_content p{
    font-family: museo-sans,sans-serif;
    font-size: 16px;
    color: #eeeeee;
    text-align: center;
    margin: 12px 0 30px;
}
.eg_content h2{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.eg_row{
        max-width: 500px;
        margin: auto;
        display: flex;
}
.eg_content{
    text-align: center;
    background-color: #07101e;
    padding: 30px 40px;
}
.eg_content a {
    background:  #5eb7cb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 60px;
    border-radius: 6px;
}
.eg_content a:hover{
    cursor: pointer;
    text-decoration: none !important;
    color: rgba(0,0,0,0.6)
}
p.eg_small {
    font-size: 10px;
    margin-top: 20px;
}
.eg_content img {
    margin-top: -10px;
    max-width: 180px;
}

@media screen and (max-width: 523px){
    .eg_content{
        background-color: #011d28;
        padding: 30px 24px;
    }
    .eg_content h2 {
        font-size: 19px;
    }
    .eg_row {
        max-width: 360px;
    }
    .eg_content p.eg_para {
        font-size: 16px;
        line-height: 1.2;
    }
}


@media screen and (max-width: 380px){
.eg_row {
    max-width: 330px;
}
.eg_content a {
    font-size: 15px;
    padding: 12px 71px !important;
}
.eg_content p.eg_para {
    padding-inline: 11px !important;
}
.eg_small {
    font-size: 12px;
}
}

@media screen and (max-width: 320px) {
    .eg_content a {
        font-size: 12px;
    }
}