div.eg-usp {
    margin-top: 30px;
    width: max-content;
}

div.eg-usp ul li {
    display: flex;
    color: white;
    gap: 12px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    align-items: center;
}

div.eg-usp ul li .eg-check-icon {
    display: grid;
    place-items: center;
}

div.eg-usp ul li+li {
    margin-top: 8px;
}

div.eg-usp svg {
    fill: #008ad3;
}

.heading-content {
    text-align: center;
    max-width: 644px;
}

.heading-container .heading-content>h1 {
    font-size: 46px;
    margin-top: 36px;
}


.heading-container .heading-content #tandc30 {
    font-size: 13px;
}

@media screen and (max-width:1200px){
    div.eg-usp {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    div.eg-usp {
        margin-inline: 20px;
        max-width: fit-content;
        width: 100%;
    }

    div.eg-usp ul li {
        gap: 22px;
    }

    .header-wrapper {
        background-position: left;
    }

    .heading-container .heading-content>h1 {
        margin-top:0;
    }
}

@media only screen and (max-width: 480px) {
    .heading-container {
        padding: 0px 10px;
    }
}