@media screen and (min-width: 1100px) {
    
    ul.kKjegh  .eg_first > a{
        background-color: #fff !important;
        color: #121b6b !important;
        font-weight: 900 !important;
            display: flex;
        padding-left: 6%;
        font-family: Sohne,sans-sarif;
            align-items: center;
        text-decoration: none;
        }
 
    
        ul.kKjegh {
            width: 450px;
            left: -80%;
            top: 52px;
            padding-inline: 8px;
            background: #fff;
        }
        .eg_first{
            display: flex;
            padding-block: 10px;
            position: relative;
            flex-direction: column;
        }
    
        .eg_inner .eg_first p {
            padding-left: 15% !important;
        }
        
        div.eg_inner  > div.eg_first > a ,
        div.eg_inner  > div.eg_first > p {
            padding-left: 15%;
            text-decoration: none;
        }
    
        .eg_container {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        
        .eg_inner {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        
        ul .eg_container div.eg_first p {
            font-size: 14px;
            font-family: 'Circular-Loom';
            color: #666;
            padding-left: 6%;
        }
    
        img.eg_img {
            width: 20px;
            position: absolute;
            left: -1%;
        } 
    }
    
    
    @media screen and (max-width: 1099px){
        .eg_first{
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
           padding-top: 20px;
          max-width: 90%;
          margin: auto;
          border-bottom: 1px solid var(--dusk);
    
        }
        .eg_first a {
            display: flex;
            align-items: center;
          text-decoration : none;
        }
        div.eg_inner > div:nth-child(2){
            border-bottom: none !important;
          }
          div.eg_first > a{
            padding-left: 0%;
            font-family: 'Circular-Loom';
          font-weight: 600;
        }
    }
    
    @media screen and (max-width: 767px) {

        img.eg_img {
            width: 25px;
            margin-right: 3%;
        }
        
          div.eg_first > p {
            padding-left: 10%;
            font-size: 15px;
              color: #555;
              font-weight: 300 !important;
          }
    }
    
    
    @media (min-width:768px) and (max-width: 991px){ 
     
        img.eg_img {
            width: 35px;
            margin-right: 2%;
        }
            div.eg_first > a{
              font-size: 23px !important;
            }
        
            div.eg_first > p {
                padding-left: 7%;
                font-size: 22px !important;
          }
    }
    
    @media (min-width:992px) and (max-width: 1025px){
        
        img.eg_img {
            width: 35px;
            margin-right: 2%;
        }
            div.eg_first > a{
              font-size: 23px !important;
            }
        
            div.eg_first > p {
                padding-left: 6%;
                font-size: 22px !important;
          }
    }
