.eg-usps {
    display: inline-block;
    width: 100%;
    border-collapse: collapse;
}

.eg-wrapper {
    margin-inline: auto;
    max-width: 1300px;
}

.eg-container {
    display: flex;
    justify-content: center;
    margin: 20px 30px;
}

.eg-container>div {
    flex: 1;
    flex-basis: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
}

.eg-container>div+div {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid rgb(0 0 0 /10%);
}

.eg-icon img {
    display: block;
    width: 46px;
}

.eg-pricing {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.eg-price-container {
    display: flex;
    gap: 20px;

}

.eg-pricing>p {
    font-size: 16px;
    line-height: 1.4;
}


.eg-pricing .eg-price span {
    color: #1f3d5c;
    font-size: 30px;
    font-weight: 600;
}

.eg-pricing .eg-price {
    font-size: 16px;
    font-weight: 600;
}

@media(max-width: 1200px) {
    .eg-pricing {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media(max-width: 767px) {
    .eg-container {
    
        gap: 20px;
        flex-direction: column;
    }

    .eg-pricing>p {
        font-size: 18px;
    }

    .eg-container>div+div {
        margin: 0;
        padding: 0;
        border-left: 0;
        border-top: 2px solid rgb(0 0 0 /9%);
        padding-top: 15px;
    }
}

@media(max-width: 576px) {
    .eg-pricing .eg-price span {
        font-size: 26px;
    }
}