/*hero section*/
.heading-container {
    min-height: 288px;
}

.heading-container .heading-content>h1 {
    font-size: 38px;
    margin-top: 35px;
}

.heading-container .heading-content #tandc30 {
    font-size: 13px;
}

/*hero section*/

.eg-video-carousel-wrapper .hp-grid-child {
    margin: 0 !important;
}

.eg-video-carousel-wrapper,
.eg-video-carousel-container {
    background: #f5f5f5;
}

.eg-video-carousel-wrapper {
    display: flex;
    max-width: 1300px;
    margin-inline: auto;
}

.eg-video-carousel-wrapper .video-block-container .hp-grid-parent {
    flex-direction: column;
}

.eg-video-carousel-wrapper>div {
    width: 50%;
    margin-top: -105px;
    background: transparent;
}

.eg-video-carousel-wrapper .title {
    font-size: 32px;
    font-weight: 700;
    font-family: system-ui;
}

/*video block*/

.eg-video-carousel-wrapper .video-block-container p.info-block-p {
    padding-bottom: 0;
}

.eg-video-carousel-wrapper .video-block-container a.cta-x {
    font-size: 17px;
    padding-block: 6px !important;
    margin-block: 20px;
}

.eg-video-carousel-wrapper .video-block-container p#tandc30 br {
    display: none;
}

.eg-video-carousel-wrapper .video-block-container p#tandc30 {
    font-size: 14px;
}



div.eg-usp {
    margin-top: 5px;
    width: max-content;
}

div.eg-usp ul li {
    display: flex;
    color: #29343f;
    gap: 12px;
    text-align: justify;
    font-size: 16.3px;
    line-height: 1.3;
    font-weight: 600;
    align-items: center;
}

div.eg-usp ul li .eg-check-icon {
    display: grid;
    place-items: center;
}

div.eg-usp svg {
    fill: #008ad3;
}

.eg-video-carousel-wrapper .video-block-container p.info-block-p+p {
    display: none;
}

@media screen and (max-width:1200px) {
    div.eg-usp {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    div.eg-usp {
        margin-inline: 20px;
        max-width: fit-content;
        width: 100%;
    }

    div.eg-usp ul li {
        gap: 22px;
    }
}

/*video block end*/

/*carousel start*/

/*already exists caraousel*/

/*hiding big left right buttons*/
.carousel::before,
.carousel::after {
    display: none;
}

.carousel {
    height: 583px !important;
}

.carousel .hp-grid-parent {
    display: flex !important;
    flex-direction: column;
}

/*changing order*/
.carousel-icon {
    order: -1;
    margin-top: 0;
}

/*changing image height*/
.carousel-icon img {
    width: 100%;
    height: 100%;
    max-width: 236px;
    max-height: 240px;
}

/*hiding buttons inside carousel*/
.eg-video-carousel-wrapper .carousel__viewport li a {
    display:
        none;
}

.eg-video-carousel-wrapper .carousel__viewport li .title {
    text-align: center !important;
}

.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child>* {
    display: none;
}

.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child .title,
.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child .sub-title,
.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child .sub-title+p {
    display: block !important;
}

.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child .sub-title {
    font-size: 17.4px;
}

.eg-video-carousel-wrapper .carousel__viewport li .hp-grid-child>* {
    text-align: left;
    padding-inline: 0;
}

/*showing navigation dots*/
.carousel__navigation {
    display: block;
    visibility: visible;
}

.carousel li.carousel__navigation-item+li {
    margin-left: 6px;
}

/*carousel end*/

@media(max-width: 1107px) {
    .carousel {
        height: 630px !important;
    }
}

@media(max-width: 1085px) {
    .carousel {
        height: 690px !important;
    }

    .eg-video-carousel-wrapper>div {
        margin-top: -130px;
    }

    .eg-video-carousel-wrapper .carousel .hp-grid-parent {
        padding-top: 80px !important;
    }
}

@media (max-width: 985px) {
    .carousel {
        height: 680px !important;
    }

    .carousel-icon img {
        max-width: 170px;
        max-height: 170px;
    }
}

@media(max-width: 767px) {
    .eg-video-carousel-wrapper .title {
        font-size: 30px;
    }

    .eg-video-carousel-wrapper .video-block-container p.info-block-p {
        font-size: 13.8px;
    }

    .carousel {
        height: 640px !important;
    }

    .header-wrapper {
        background-position: left;
    }

    .eg-video-carousel-wrapper {
        flex-direction: column;
    }

    .eg-video-carousel-wrapper>div {
        width: 100%;
    }

    .heading-container {
        min-height: 315px;
    }

    .eg-video-carousel-wrapper .carousel-wrapper {
        margin-top: 0;
    }

    .eg-video-carousel-wrapper .carousel .hp-grid-parent {
        padding-top: 30px !important;
    }
}

@media (max-width: 606px) {
    .heading-container {
        min-height: 370px;
    }
}

@media (max-width: 486px) {
    .heading-container {
        min-height: 400px;
        padding-top: 0 !important;
    }

    .header-wrapper {
        background-position: right;
    }
}

@media(max-width: 367px){
    .eg-video-carousel-wrapper .video-block-container p.info-block-p br{
        display: none;
    }
}