img.ProductPageBanner_banner-image__2lLI_ {
  display: none;
}

#skip-to-content-link-target>div.ContentfulContent_content__GOW9Y>div.ContentfulMediaComponent_root__1Gp_U>section>.ContentfulMediaComponent_copy__2hixs>div.ContentfulMediaComponent_subcopy__1JHWm {
  display: none !important;
}

.ContentfulMediaComponent_container__1QiMm.ContentfulMediaComponent_image-position-left__1VUzn {
  display: none;
}

.eg_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.eg_banner>h3 {
  font-weight: 700;
  font-size: 30px;
  margin-right: 30px;

}

#skip-to-content-link-target>div.ContentfulContent_content__GOW9Y>div.ContentfulMediaComponent_root__1Gp_U.ContentfulMediaComponent_dark__3YFAu>div>a {
  background: transparent !important;
  border: 2px solid #fff;
  font-size: 13px;
  padding-right: 7px;
  border-radius: 50px;
  padding-block: 6px;
  cursor: pointer;
  height: fit-content;
}

.ContentfulMediaComponent_root__1Gp_U.ContentfulMediaComponent_dark__3YFAu {
  background: #640297;
  color: #fff;
  margin-top: -4%;
  margin-bottom: -5%;
}

#skip-to-content-link-target>div.ContentfulContent_content__GOW9Y>div:nth-child(3)>div>div {
  margin-top: -3%;
}

@media screen and (max-width: 767px) {
  .eg_banner>h3 {
    font-size: 12px;
  }
  #skip-to-content-link-target>div.ContentfulContent_content__GOW9Y>div.ContentfulMediaComponent_root__1Gp_U.ContentfulMediaComponent_dark__3YFAu>div>a{
    font-size: 10px;
  }
}