/*hiding that white image in between hero section and section with people image*/
#p-bg-n #bg1-n {
    display: none;
}

.eg-pricing-wrapper {
    width: 100%;
    max-width: 1170px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.eg-pricing {
    margin-right: 250px;
    box-shadow: 0 0 20px rgb(0 0 0 / 14%);
    z-index: 999;
    width: 100%;
    max-width: 177px;
    height: 200px;
    background-image: url("https://expogrowth.in/wp-content/uploads/2022/11/IMG-20221102-WA0050.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    gap: 10px;
}

.eg-per-page>strong {
    font-size: 26px;
}

@media(max-width: 1199px) {
    .eg-pricing-container{
        padding-inline: 20px;
    }
    .eg-pricing {
        margin-right:0;
    }
}


@media(max-width: 768px) {

    .eg-pricing-container {
        padding-top: 20px;
    }
}